[buildout]
allow-picked-versions = true
newest = true
versions = versions
extends = 
    http://www.dolmen-project.org/kgs/dolmen-kgs-0.6.2.cfg
    http://grok.zope.org/releaseinfo/1.5.3/versions.cfg


[versions]
Beaker = 1.6.4
Chameleon = 2.10
Cheetah = 2.2.1
Pygments = 1.6rc1
WebOb = 1.2
ZopeUndo = 2.12.0
beaker = 1.6.4
buildout.eggtractor = 0.6
collective.recipe.backup = 2.20 
collective.recipe.omelette=0.16
collective.recipe.scriptgen = 0.2
collective.recipe.supervisor = 0.19
coverage = 3.7
createzopecoverage = 1.5
cromlech.browser = 0.5.2
dolmen.app.authentication=1.1.1
dolmen.app.breadcrumbs = 1.0b2
dolmen.app.layout = 1.0
dolmen.app.security = 0.1
dolmen.authentication = 0.3
dolmen.beaker = 0.1
dolmen.content = 0.7.1
dolmen.field = 0.3
dolmen.forms.base = 1.2.1
dolmen.forms.crud = 1.0
dolmen.forms.wizard = 0.2
dolmen.location = 0.2
dolmen.menu = 0.5
dolmen.security.policies = 0.3
dolmen.template = 0.3.1
dolmen.viewlet = 0.4.1
elementtree = 1.2.7-20070827-preview
fancycompleter = 0.4
fanstatic = 1.0a3
FormEncode = 1.3.0a1
formencode = 1.3.0a1
grok = 1.12
gocept.recipe.env = 1.0
grokcore.annotation=1.5
grokcore.chameleon = 1.0.3
grokcore.layout = 1.6
grokcore.registries = 0.1
grokcore.traverser = 1.2
grokcore.viewlet = 1.11
grokcore.view = 2.10.1
grokproject = 2.9
hurry.workflow = 0.13.1
js.bootstrap = 3.2
js.bootstrapdatepicker = 1.0 
js.jquery = 1.9.1
js.jquery-maskmoney = 1.4.1
megrok.layout = 1.3
megrok.pagetemplate = 0.7
megrok.rendersource = 0.5.1
megrok.resourceviewlet = 0.2
megrok.z3ctable = 1.6.0
mock = 1.0.1
mr.developer = 1.31
pdbpp = 0.7.2
plone.memoize = 1.1.1
plone.recipe.haproxy = 1.1.1
plone.recipe.zeoserver = 1.2.3
profilehooks = 1.7
pyPdf = 1.13
pycryptopp = 0.6.0.1206569328141510525648634803928199668821045408958
pygments = 1.6rc1
pyprof2calltree = 1.1.1
pyrepl = 0.8.4
reportlab = 2.7
repoze.filesafe = 2.1
repoze.profile = 2.0
supervisor = 3.1.3
uvckickstart = 3.2
uvcsite = 
which = 1.1
wmctrl = 0.1
z3c.batching = 2.0.0
z3c.checkversions=0.5
z3c.coverage = 2.0.2
z3c.recipe.usercrontab = 1.1
z3c.schema = 1.0.0
z3c.schema2xml = 1.1dev
z3c.table = 2.0.0a1
zc.buildout = 1.7.1
zeam.form.base = 1.3.1
zeam.form.composed = 1.3.2
zeam.form.layout = 0.3.1
zeam.form.table = 1.1.1
zeam.form.viewlet = 1.2.1
zeam.form.ztk = 1.3.4
zeam.utils.batch = 1.1
zodbupdate = 0.5
zope.configuration = 3.8
zope.app.appsetup = 3.16
zope.app.homefolder = 3.5.0
zope.app.testing = 3.10.0
zope.fanstatic = 0.12
zope.interface = 4.0.5 
zope.schema = 3.8
zope.configuration = 3.8.0
graypy = 0.2.11
z3c.unconfigure = 1.1 
grokcore.error = 0.3
uvc.errorlog = 1.0

### uvc
uvc.staticcontent = 0.3
uvc.validation = 0.7.0
uvc.tbskin = 0.6.1
uvc.layout = 2.2.1
uvc.widgets = 1.0.1 
uvckickstart = 3.1.9
zc.buildout = 1.7.1
uvcsite = 2.1.8
uvc.errorlog = 1.0.1


#### uvc
#uvc.layout = 
#uvc.tbskin = 
#uvcsite = 
#uvc.tbskin =



[sources]
dolmen.forms.wizard     = git http://devel.dolmen-project.org/dolmen.forms.wizard.git
z3c.schema2xml          = svn http://svn.zope.org/repos/main/z3c.schema2xml/branches/combined-deserialization-errors
uvcsite                 = svn https://uvcsite.googlecode.com/svn/uvcsite/trunk 
uvc.errorlog            = svn https://uvcsite.googlecode.com/svn/uvc.errorlog/trunk 
uvc.layout              = svn https://uvcsite.googlecode.com/svn/uvc.layout/trunk
uvc.widgets             = svn https://uvcsite.googlecode.com/svn/uvc.widgets/trunk
uvc.validation          = svn http://dev.bg-kooperation.de/repos/community/uvc.validation/trunk
uvc.tbskin              = svn https://uvcsite.googlecode.com/svn/uvc.tbskin/trunk
uvc.staticcontent       = svn https://uvcsite.googlecode.com/svn/uvc.staticcontent/trunk
zeam.form.base          = git https://github.com/thefunny42/Zeam-Form.git
zeam.form.ztk           = git https://github.com/thefunny42/Zeam-Form-ZTK.git
zeam.form.composed      = git https://github.com/thefunny42/Zeam-Form-Composed.git
zeam.form.viewlet       = git https://github.com/thefunny42/Zeam-Form-Viewlet.git
zeam.form.table         = git https://github.com/thefunny42/Zeam-Form-Table.git
grokcore.error          = git https://github.com/minddistrict/grokcore.error.git
