table.tablesorter
{
    width:100%;
    border-collapse:collapse;
    font-size:90%;
    border-color:#aaa;
    border-style:solid;
    border-width:1px 0 0 1px;
    margin:0.5em 0;
}

table.tablesorter td,table.tablesorter th
{
    line-height:1.5em;
    font-size:0.8em;
    border-color:#aaa;
    border-style:solid;
    border-width:0 1px 1px 0;
    padding:0.2em 0.5em;
}

table.tablesorter th
{
    padding-left:16px;
    font-weight:700;
}

table.tablesorter thead tr .header
{
    background-image:url(bg.gif);
    background-repeat:no-repeat;
    background-position:center right;
    cursor:pointer;
}

table.tablesorter thead tr .headerSortUp
{
    background-image:url(asc.gif);
}

table.tablesorter thead tr .headerSortDown
{
    background-image:url(desc.gif);
}

table.tablesorter thead tr .checkBox
{
    width:1px;
}

div.tooltip
{
    background-color:#000;
    border:1px solid #fff;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
    padding:10px 15px;
}

div#uvc_help
{
    float:right;
}

div#effect {
 overflow-y: scroll;
 height: 390px;
}

div#toggler
{
    text-align:left;
    text-indent:20px;
    border:2px solid #B30B16;
    height:400px;
    padding:2em;
}

div.extraviews
{
    background-color:transparent;
    padding-left:2em;
    margin-top:-10px;
    height:16px;
    width:925px;
    margin-bottom:1em;
    text-align:right;
    position:absolute;
}

div.extraviews ul a
{
    border-right:2px solid #B30B16;
    border-bottom:2px solid #B30B16;
    height:auto;
    margin-left:3px;
    margin-right:0.5em;
    text-decoration:none;
    padding:0 7px;
}

#content #page-body #personal-menu a
{
    text-decoration:none;
    font-size:100%;
}

h2#step-title
{
    font-size:120%;
    margin-top:12px;
}

#page-body fieldset.wizard-steps span.current
{
    color:#B30B16;
}

#content #page-body fieldset.wizard-steps a.previous
{
    color:#B30B16;
    font-size:0.9em;
    text-decoration:none;
}

.simple_overlay
{
    display:none;
    z-index:10000;
    background-color:#EFEFEF;
    width:675px;
    min-height:200px;
    height:400px;
    border:1px solid #666;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow:0 0 90px #000;
}

.simple_overlay .close
{
    background-image:url(close.png);
    position:absolute;
    right:-15px;
    top:-15px;
    cursor:pointer;
    height:35px;
    width:35px;
}

#contextual-actions,div#form-form-field-camefrom,dl#anonymous-actions,dl#user-actions,.panes .pane
{
    display:none;
}

/*
 
#page-body ul.tabs
{
    list-style:none;
    height:30px;
    border-bottom:1px solid #666;
    margin:0 !important;
    padding:0;
}

#page-body .tabs li
{
    float:left;
    text-indent:0;
    list-style-image:none !important;
    list-style:none;
    margin:0 !important;
    padding:0;
}

#page-body .tabs a
{
    background:url(tabs.png) no-repeat -652px 0;
    font-size:11px;
    display:block;
    height:30px;
    line-height:30px;
    width:111px;
    text-align:center;
    text-decoration:none;
    color:#000;
    position:relative;
    top:1px;
    margin:0;
    padding:0;
}

.tabs a:active
{
    outline:none;
}

.tabs a:hover
{
    background-position:-652px -31px;
    color:#fff;
}

.tabs .current,.tabs .current:hover,.tabs li.current a
{
    background-position:-652px -62px;
    cursor:default !important;
    color:#000 !important;
}

.tabs .w1
{
    background-position:-519px 0;
    width:134px;
}

.tabs .w1:hover
{
    background-position:-519px -31px;
}

.tabs .w1.current
{
    background-position:-519px -62px;
}

.tabs .w2
{
    background-position:-366px 0;
    width:154px;
}

.tabs .w2:hover
{
    background-position:-366px -31px;
}

.tabs .w2.current
{
    background-position:-366px -62px;
}

.tabs .w3
{
    background-position:-193px 0;
    width:174px;
}

.tabs .w3:hover
{
    background-position:-193px -31px;
}

.tabs .w3.current
{
    background-position:-193px -62px;
}

.tabs .w4
{
    background-position:0 0;
    width:194px;
}

.tabs .w4:hover
{
    background-position:0 -31px;
}

.tabs .w4.current
{
    background-position:0 -62px;
}

*/
div.WizardStepMenu {
    border-top: 1px solid #DDDDDD;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    background-color: #EFEFEF;
    padding-right: 1em;
    text-align: right;
    clear: both;
}

div.WizardStepMenu div {
    padding-left: 45em;
}

div.WizardStepMenu li {
   list-style: none; 
   text-align: left;
}

div.WizardStepMenu li.past span {
    color: #8cb67b; 
}

div.WizardStepMenu li.current span {
    color: #B30B16; 
    font-weight: bolder;
}

div.WizardStepMenu li.future span {
    color: #666666;
}

table#cousers {
  margin: 0 auto;
  width: auto;
}

table#cousers th,
table#cousers td {
  padding: 3px 3px 3px 3px;
}

table#uofw {
  width: 584px;
  margin-bottom: 2em;
}

div#uofwfields {
  margin-bottom: 2em;
}

div#uofwfields label {
  margin-left: 0;
  margin-top: 0;
  float: left;
}

/* Accordion */

#accordion {
background:#333 url(h300.png) 0 0;
width: 80%;
border:1px solid #333;	
-background:#666;
margin: 0 auto;
}

#accordion h2 {
background:#ccc url(h30.png);
margin:0;
padding:5px 15px;
font-size:14px;
font-weight:normal;
border:1px solid #fff;
border-bottom:1px solid #ddd;
cursor:pointer;		
}

#accordion h2.current {
cursor:default;
background-color:#fff;
}

#accordion .pane {
border:1px solid #fff;
border-width:0 2px;
display:none;
height:180px;
padding:15px;
color:#fff;
font-size:12px;
}

#accordion .pane h3 {
font-weight:normal;
margin:0 0 -5px 0;
font-size:16px;
color:#999;
}

div#effect h1 {
 font-size: 2em;
 padding-bottom: 0.6em;
}

div#effect p {
 padding-bottom: 1em;
}
