[buildout]
develop = 
    . 

parts = 
    app 
    test 
    data 
    log 
    omelette 
    profile_ini
    zope_conf 
    site_zcml 
    rungrok 
    deploy_ini 
    debug_ini 
    test-all 
    checkversions 
    console_scripts
    zodbupdate
    interactive_debugger
    ropeproject

find-links =
    http://dev.bg-kooperation.de/pypi/simple
    http://pypi.dolmen-project.org/find-links
    https://pypi.python.org/simple/

extends = 
    versions.cfg

allow-hosts=
    dev.bg-kooperation.de
    pybrary.net
    effbot.org
    *.python.org
    *.dolmen-project.org
    *.googlecode.com
    *.crummy.com
    *.sourceforge.net
    sourceforge.net
    code.google.com
    github.com

versions = versions
show-picked-versions = true

extensions = 
    mr.developer

sources = sources

auto-checkout = 
  uvc.catalog
  uvc.staticcontent
  uvc.homefolder
  uvclight
  uvc.testcontent
  uvc.content
  uvc.design.canvas
  uvc.themes.dguv
  uvc.themes.btwidgets

[sources]
chameleon = git https://github.com/malthe/chameleon.git
js.bootstrap = git https://github.com/goschtl/js.bootstrap.git
uvc.homefolder = git git@github.com:novareto/uvc.homefolder.git
uvclight = git git@github.com:novareto/uvclight.git
uvc.content = git git@github.com:novareto/uvc.content.git
uvc.design.canvas = git git@github.com:novareto/uvc.design.canvas.git
uvc.widgets = svn https://uvcsite.googlecode.com/svn/uvc.widgets/branches/uvclight
uvc.tbskin = svn https://uvcsite.googlecode.com/svn/uvc.tbskin/branches/uvclight
uvc.testcontent = svn https://uvcsite.googlecode.com/svn/uvc.testcontent/trunk
z3c.schema2xml = svn http://svn.zope.org/repos/main/z3c.schema2xml/branches/combined-deserialization-errors
uvc.catalog = svn https://uvcsite.googlecode.com/svn/uvc.catalog/trunk 
uvc.staticcontent = svn https://uvcsite.googlecode.com/svn/uvc.staticcontent/trunk
uvc.themes.dguv = git git@github.com:novareto/uvc.themes.dguv.git
uvc.themes.btwidgets = git git@github.com:novareto/uvc.themes.btwidgets.git


[omelette]
recipe = collective.recipe.omelette
eggs = ${app:eggs}

[app]
recipe = z3c.recipe.scripts
eggs = uvcsite
       z3c.evalexception>=2.0
       Paste
       PasteScript
       PasteDeploy
       lesscss
interpreter = python-console

[data]
recipe = zc.recipe.filestorage

[log]
recipe = zc.recipe.filestorage

[test]
recipe = zc.recipe.testrunner
eggs = 
    uvcsite
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']

[zope_conf]
recipe = collective.recipe.template
input = etc/zope.conf.in
output = ${buildout:parts-directory}/etc/zope.conf
filestorage = ${buildout:directory}/var/filestorage
blobstorage = ${buildout:directory}/var/blobstorage
logfiles = ${buildout:directory}/var/log
extra =

[site_zcml]
recipe = collective.recipe.template
input = etc/site.zcml.in
output = ${buildout:parts-directory}/etc/site.zcml

[rungrok]
recipe = collective.recipe.scriptgen
cmd = ${buildout:bin-directory}/paster
arguments = serve ${buildout:parts-directory}/etc/deploy.ini


[deploy_ini]
recipe = collective.recipe.template
input = etc/deploy.ini.in
output = ${buildout:parts-directory}/etc/deploy.ini
host = 0.0.0.0 
port = 7081

[debug_ini]
recipe = collective.recipe.template
input = etc/debug.ini.in
output = ${buildout:parts-directory}/etc/debug.ini
host = 0.0.0.0
port = 7081

[profile_ini]
recipe = collective.recipe.template
input = etc/profile.ini.in
output = ${buildout:parts-directory}/etc/profile.ini
host = 127.0.0.1
port = 7081

[test-all]
recipe = z3c.recipe.compattest
include = 
    uvcsite
runner-defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']

[checkversions]
# script to find newer versions
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]

[console_scripts]
recipe = zc.recipe.egg
eggs = createzopecoverage

[zodbupdate]
recipe = zc.recipe.egg
eggs = 
    zodbupdate
    ${app:eggs}

[interactive_debugger]
recipe = z3c.recipe.scripts
eggs = uvcsite 
entry-points =
  interactive_debugger=grokcore.startup.startup:interactive_debug_prompt
arguments = zope_conf="${zope_conf:output}"

[ropeproject]                                                                   
recipe = collective.recipe.ropeproject                                          
eggs = ${app:eggs}
